{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	About 
{% endblock %}

{% block body_block %}

	<div class="page-header">	
		<h1>This is Rango's about page</h1>
		Welcome! <strong>{{ boldmessage }}</strong><br />
		<p>This page has been visited: {{ visits }} times</p>
		<img src="{% static "images/onepiece.jpg" %}" alt="One Piece" />
	</div>

	<button onClick="alert('You clicked the button using Javascript.');">
		 Click Me - I run Javascript
	</button>

	<button id="about-btn"> Click Me - I'm Javascript on Speed</button>

	<p>This is a example</p>

	<p>This is another example</p>

	<div id="msg">Hello</div>
	
{% endblock %}
